<!doctype html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>AGE GOLD — Admin</title>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
  <div class="wrap">
    <header class="admin-header">
      <div class="brand">
        <div>
          <div class="logo-text">AGE GOLD</div>
          <div class="logo-sub">PAINEL ADMIN</div>
        </div>
            <img src="{{url_for('static', filename='logo-age.png')}}" alt="">
      </div>

      <div class="admin-actions">
        <a class="btn-ghost" href="{{url_for('home')}}">Voltar à Intranet</a>
        <span class="user-badge">Olá, Equipe</span>
      </div>
    </header>

    <main class="admin-main">
      <section class="news-panel">
        <h2>Últimas notícias</h2>

        <div class="admin-grid">
         {% for noticia in noticias %}
          <article class="card-admin">
            <div class="card-img">
              <img src="data:image/png;base64,{{ noticia.capa|b64encode}}">
            </div>
            <div class="card-body">
              <div class="card-title">{{ noticia.titulo }}</div>
              <div class="card-actions">
                <a class="btn-access" href="{{ noticia.link }}" target="_blank">Acessar</a>
                <form action="{{url_for('deletar_noticia')}}" method="POST">
                  <input type="hidden" name="id" value="{{ noticia.id }}">
                  <button type="submit" class="btn-danger">Apagar</button>
                </form>
              </div>
            </div>
            </article>
            {% endfor %}
            <article class="add-card">
              <a href="nova-noticia.html" class="add-inner" title="Adicionar notícia">
              <a href="{{url_for('nova_noticia')}}" class="add-inner" title="Adicionar notícia">
              <div class="plus">+</div>
              <div class="add-text">ADICIONAR<br>NOTÍCIA</div>
            </a>
          </article>

        </div>
      </section>

      <aside class="admin-aside">
        <div class="panel-small temp">
          <h3>Temperatura</h3>
          <p>(Guarulhos - >{{ hoje }})</p>
          <p class="big">{{clima}}º <span aria-hidden="true">☀️</span></p>
        </div>

        <div class="panel-small">
          <div class="phrase">"O êxito parece doce<br>a quem não o alcança."</div>
          <small>Frase do dia</small>
        </div>
      </aside>
    </main>

    <footer>
      <small>© <strong>AGE GOLD</strong> • Painel Admin</small>
    </footer>
  </div>
</body>
</html>
