<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nova Notícia</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body class="nova-noticia">
  <div class="wrap">
    <header>
      <div class="brand">
        <img src="{{url_for('static', filename='logo-age.png')}}" alt="Logo">
        <div>
          <div class="logo-text">Intranet</div>
          <div class="logo-sub">Nova Notícia</div>
        </div>
      </div>
    </header>

    <main>
      <section class="news-panel centered" >
        <h2>Adicionar Nova Notícia</h2>
        <form class="form-news" method="post" enctype="multipart/form-data">
          <label for="titulo">Título</label>
          <input type="text" id="titulo" name="tituloForm" placeholder="Digite o título da notícia">

          <label for="link">Link para redirecionamento</label>
          <input type="url" id="link" name="urlForm" placeholder="https://exemplo.com">

          <label for="imagem">Imagem de capa</label>
          <input type="file" id="imagem" name="imgForm">

          <div class="form-actions">
            <a href="{{url_for('admin')}}" class="btn-cancelar">Cancelar</a>
            <button type="submit" class="btn-access">Salvar</button>
          </div>
        </form>
      </section>
    </main>

    <footer>
      © 2025 Intranet — Todos os direitos reservados.
    </footer>
  </div>
</body>
</html>
